* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-size: 2em;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #005f6b;
}

input {
    padding: 10px;
    font-size: 1em;
    margin: 10px;
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.error-message {
    color: red;
    font-size: 1em;
    margin-top: 10px;
}

#uselessText {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}

/* Developer Mode Button Styling */
.dev-mode-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dev-mode-button:hover {
    background-color: #e31a1a;
}

/* Remove background and styling for dev mode */
body.dev-mode {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
